[submodule "src/modules/dbwrapper"]
	path = src/modules/dbwrapper
	url = git@gitlab.com:c3po-modules/dbwrapper.git
[submodule "src/modules/stub"]
	path = src/modules/stub
	url = git@gitlab.com:c3po-modules/stub.git
[submodule "src/modules/discordmsg"]
	path = src/modules/discordmsg
	url = git@gitlab.com:c3po-modules/discordmsg.git
[submodule "src/modules/swgohhelper"]
	path = src/modules/swgohhelper
	url = git@gitlab.com:c3po-modules/swgohhelper.git
